<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body style='background-color: #F5FBEF; text-align: center;'>
  <%- include('partials/_header.ejs') %>
  <main style="margin: 1em;"></main>
    <h1>Status Code: <%= status %></h1>
    <p><%= msg %></p>
    <a href="/<%= url %>">Return to <%= page %> Page!</a>
  </main>
</body>
</html>